body {
    background-color: lightgrey;
}

h1 {
    color: red;
    text-align: center;
    margin-top: 90px;
    margin-left: 20px;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: left;
}

h2 {
    text-align: left;
    color: darkblue;
    margin-left: 20px;
}

li {
    font-family: verdana;
    font-size: 20px;
    margin-left: 20px;
}    

figcapture {
    font-family: verdana;
    font-size: 10px;
    text-align: center;
}

video {
    margin-left: 20px;
}

img {
    margin-left: 20px;
}
